body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  display: flex;
}

.container_centered {
  justify-content: center;
}

.button {
  border-radius: 3px;
  height: 25px;
  align-items: center;
  justify-content: center;
  border: 0;
  background-color: cornflowerblue;
  display: flex;
}

.form {
  max-width: 500px;
  width: 100%;
  border-radius: 5px;
  padding: 5px;
}

.form__fields {
  border: 0;
  padding: 0;
  display: flex;
  flex-flow: column;
}

.form__field {
  margin: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

.form__buttons {
  margin: 5px;
  display: flex;
  justify-content: center;
}

.form__label {
  flex: 1 0 100px;
}

.form__input {
  flex: 2 0 230px;
}

.form__legend {
  align-self: flex-start;
}

.form__submit {
  width: 50%;
}

.register-form {
  background-color: lightgrey;
}

.login-form {
  background-color: lightslategrey;
}
